<div class="container-small container">
  <h1>作者信息</h1>
  <form>
    <div class="form-group">
      <label class="col-xs-4">姓名：</label>
      <label class="col-xs-8">罗旭坤</label>
    </div>
    <div class="form-group">
      <label class="col-xs-4">学号：</label>
      <label class="col-xs-8">1500012725</label>
    </div>
    <div class="form-group">
      <label class="col-xs-4">院系：</label>
      <label class="col-xs-8">信息科学技术学院计算机系</label>
    </div>
    <div class="form-group">
      <label class="col-xs-4">邮箱：</label>
      <label class="col-xs-8">1500012725@pku.edu.cn</label>
    </div>
    <div class="form-group">
      <label class="col-xs-4">联系电话：</label>
      <label class="col-xs-8">13051575171</label>
    </div>
  </form>
</div>
