<div class="container-small container">
  <h1>本系统尚未开发登录功能，以下界面仅供参考。</h1>
  <h1>登录
    <small>没有账号？<a (click)="goRegister()">注册</a></small>
  </h1>
  <form>
    <div class="form-group">
      <label>用户名/手机/邮箱</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>密码</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-block">登录</button>
    </div>
    <div class="form-group">
      <a href="#">忘记密码？</a>
    </div>
  </form>
</div>
