<!--导航栏-->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"></a>
        </div>
        <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
        <input class="hidden" id="toggle-checkbox" type="checkbox">
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li [class.active]="checkActive(1)" (click)="modifyActive(1)"><a href="#">医学问答系统</a></li>
                <li [class.active]="checkActive(2)" (click)="modifyActive(2)"><a href="#">用户提问</a></li>
                <li [class.active]="checkActive(3)" (click)="modifyActive(3)"><a href="#">问题实例</a></li>
                <li [class.active]="checkActive(4)" (click)="modifyActive(4)"><a href="#">作者信息</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li [class.active]="checkActive(5)" (click)="modifyActive(5)"><a href="#">登录</a></li>
                <li [class.active]="checkActive(6)" (click)="modifyActive(6)"><a href="#">注册</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <app-home *ngIf="checkActive(1)" (homeEvent)="modifyActive($event)"></app-home>
    <app-ask-question *ngIf="checkActive(2)" [question]="question"></app-ask-question>
    <app-questions *ngIf="checkActive(3)" (questionsEvent)="askQuestion($event)"></app-questions>
    <app-author *ngIf="checkActive(4)"></app-author>
    <app-login *ngIf="checkActive(5)" (loginEvent)="modifyActive($event)"></app-login>
    <app-register *ngIf="checkActive(6)" (registerEvent)="modifyActive($event)"></app-register>
</div>

<div class="footer">
    © 2019 医学问答系统 北京大学信息科学技术学院计算机系本科毕设作品
</div>